.sign {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

button {
    margin-right: 0.5rem;
    text-align: center;
    background-color: rgb(18, 119, 162);
    color: rgb(255, 255, 255);
}

.result {
    /* background:rgb(17, 101, 219); */
    margin-bottom: 00.5rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 20rem;
    border-style: dotted;
    border-width: 0.25rem;
    padding: 3rem;
}

.sys-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(18, 119, 162);
    color: white;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
  }

  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(18, 119, 162);
    color: white;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
  }

  .with-history {
    display: flex;
    flex-direction: column;
  }